# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Reference
参考资料/

# vscode
.vscode/
resources/400.html
resources/403.html
resources/404.html
resources/405.html
resources/animate.css
resources/bootstrap.min.css
resources/error.html
resources/font-awesome.min.css
resources/index.html
resources/login.html
resources/magnific-popup.css
resources/picture.html
resources/register.html
resources/style.css
resources/video.html
resources/welcome.html
resources/css/.DS_Store
resources/css/animate.css
resources/css/bootstrap.min.css
resources/css/font-awesome.min.css
resources/css/magnific-popup.css
resources/css/style.css
resources/fonts/.DS_Store
resources/fonts/fontawesome-webfont.eot
resources/fonts/fontawesome-webfont.svg
resources/fonts/fontawesome-webfont.ttf
resources/fonts/fontawesome-webfont.woff
resources/fonts/fontawesome-webfont.woff2
resources/fonts/FontAwesome.otf
resources/images/.DS_Store
resources/images/favicon.ico
resources/images/instagram-image1.jpg
resources/images/instagram-image2.jpg
resources/images/instagram-image3.jpg
resources/images/instagram-image4.jpg
resources/images/instagram-image5.jpg
resources/images/profile-image.jpg
resources/js/.DS_Store
resources/js/bootstrap.min.js
resources/js/custom.js
resources/js/jquery.js
resources/js/jquery.magnific-popup.min.js
resources/js/magnific-popup-options.js
resources/js/smoothscroll.js
resources/js/wow.min.js
resources/video/xxx.mp4
